@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Basic&family=Bayon&family=Handlee&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
/* for scrolling to a particular section smoothly */
html{
    scroll-behavior: smooth;
}

/* name */
.name{
    text-align: center ;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #D7F9FF;
    font-family: Barlow;
    font-size: 5vh;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    margin-left: 40px;
}
/* navbar */
.navbar{
    background: #091540;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    flex-shrink: 0;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
    text-align: right;
    position: fixed;
}

nav ul{
    margin-right: 10vh;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
}
.content {
    font-family: Barlow;
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
}

.content a {
    color:#D7F9FF;
    text-decoration: none;
}

#list {
    display: inline-block;
}

/* hover on navbar links */
nav ul a:hover{
    color: #3D518C;
}

/* media query for nav bar */
@media only screen and (max-width:600px){
    nav ul{
        margin-right: 10vh;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
    }
    .content {
        font-family: Barlow;
        display: inline-block;
        list-style: none;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 25px;
    }
    
    .content a {
        color:#D7F9FF;
        text-decoration: none;
    }
    
    #list {
        display: inline-block;
    }

}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* background image */
.background{
    opacity: 0.35; 
    width: 100%; 
    height: 100%;
    position: fixed;
    z-index: -1;
}

/* background image media query */
/* @media only screen and (max-width:600px){
    .background{
        opacity: 0.45; 
        width: 100%; 
        height: 100%;
        position: fixed;
        z-index: -1;
    }

} */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* main body */
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* welcome text */
.maintext{
    text-align: center;
    font-family: Handlee;
    flex-shrink: 0;
    color: #091540;
    font-size: 8vh;
    font-weight: 400;
    margin-top: 30vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.button{
    border-radius: 8px;
    border: none;
    height: 7vh;
    width: 25vh;
    background: #3D518C;;
    cursor: pointer;
    align-items: center;
    margin-top: 4vw;
}

.button a{
    color: #D7F9FF;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    font-size: 3vh;
}

/* media query for welcome note */
@media only screen and (max-width:600px){
    .maintext{
        text-align: center;
        font-family: Handlee;
        flex-shrink: 0;
        color: #091540;
        font-size: 5vh;
        font-weight: 400;
        margin-top: 30vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }
    
    .button{
        border-radius: 8px;
        border: none;
        height: 5vh;
        width: 15vh;
        background: #3D518C;;
        cursor: pointer;
        align-items: center;
        margin-top: 4vw;
    }

    .button a{
        color: #D7F9FF;
        text-align: center;
        font-family: Barlow;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        font-size: 1.95vh;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* introduction section */
/* my picture */
.mypic{
    height: 65vh;
    margin-top: 25vh;
    margin-left: 55vh;
}
.introduction{
    display: flex;
    flex-direction: row;
}
/* introduction heading */
.intro{
    font-family: Bayon;
    color: #091540;
    font-size: 5vh;
    margin-top: 30vh;
    text-align: center;
    margin-left: 10vh;
}
.introtext{
    width: 50vh;
    height: 70vh; 
    flex-shrink: 0;
    color: #091540;
    font-family: Basic;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -24vh;
    margin-top: 42vh;
}

/* media query for introduction page */
@media only screen and (max-width: 600px) {
    .mypic{
        height: 30vh;
        margin-top: 25vh;
        display: block;
        margin: 20vh auto;
        margin-bottom: 0 !important;
    }
    .introduction{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* introduction heading */
    .intro{
        font-family: Bayon;
        color: #091540;
        font-size: 3vh;
        text-align: center;
        margin: 0 auto;
        margin-top: 2vh;
    }
    .introtext{
        width: 30vh;
        height: 70vh; 
        color: #091540;
        font-family: Basic;
        font-size: 2vh;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 3vh;
        margin: 2vh 10px;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.services-heading{
    font-family: Bayon;
    color: #091540;
    font-size: 5vh;
    margin-top: 10vh;
    text-align: center;
}
.services-list{
    /* width: 50vh;
    height: 70vh;  */
    list-style-type: circle;
    flex-shrink: 0;
    color: #091540;
    font-family: Basic;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2vh;
}
/* media query for services section */
@media only screen and (max-width:600px) {
    .services-heading{
        font-family: Bayon;
        color: #091540;
        font-size: 3vh;
        text-align: center;
        margin: 0 auto;
        margin-top: 2vh;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* contact section */
.contact{
    justify-content : center;
    display: flex;
    flex-direction: row;
}
/* heading connect with me */
.contact h3{
    font-family: Bayon;
    color: #091540;
    font-size: 5vh;
    margin-top: 30vh;
    text-align: center;
    position: absolute;
    z-index: 1;
}
/* social media links */
.contact li{
    list-style: none;
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.ig{
    width: 30px;
    margin-top: 50vh;
}
.github{
    width: 30px;
    margin-top: 50vh;
}
.linkedin{
    width: 30px;
    margin-top: 50vh;
}
.socials{
    margin-bottom: 10vh;
    align-items: center;
}
